$navbartextcolor: #000;
$navbarbgcolor: #fce3cd;
$navbargradientcolorhigh: tint(#ff9300, 50);
$navbargradientcolorlow: #dba000;

$appbgcolor: rgba(255,255,255,0.7);
$appbordercolor: rgba(100,80,40,0.3);
$appshadowcolor: rgba(100,60,20,0.8);

$menuitembgcolor: rgba(255,255,255,0.9);
$menuitemshadowcolor: rgba(160,120,80,0.8);
$menubgcolor: rgba(255,250,230,0.9);
$menushadowcolor: $appshadowcolor;

$appborderradius: 40px;
$menuborderradius: 20px;

@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500);

.row { max-width: 100%; }

*, h2, h3 {
	font-family: Orbitron, Helvetica, sans-serif;
}

body {
	background-color: $bodybgcolor;
	background-repeat: repeat;
	background-image: url(/images/bg/cardboard-repeating-light.jpg);
}

header {
	position: static;
	height: 82px;
	width: 100%;

	line-height: 22px;
	font-size: 1.2em;
	padding-left: 180px;
	background-color: $navbarbgcolor;
	@include background-image(linear-gradient(top, $navbarbgcolor 62%, $navbargradientcolorhigh 100%));

	color: $navbartextcolor;

	a {
		display: block;
		position: absolute;
		width: 100%;
		top: 28px;
		left: 0px;
		padding-left: 181px;
		color: $navbartextcolor;
		white-space: nowrap;
	}
	a:hover {
		color: $navbartextcolor;
	}

	.logo {
		position: fixed;
		top: 10px;
		left: 15px;
		z-index: 50;
	}
}

#menu-container {
	padding: 70px 0px 10px 25px;
	position: relative;
}
#menu {
	background-color: $menubgcolor;
	text-align: right;
	position: fixed;
	left: 10px;
	padding: 17px 0px 10px 10px;
	@include border-left-radius($menuborderradius);
	@include box-shadow($menushadowcolor 0px 10px 15px);

	li {
		width: 100%;
		padding: 3px 20px 0px 30px;
		border: solid 1px $menuitemshadowcolor;
		border-width: 1px 0px 1px 1px;
		@include border-left-radius($menuborderradius);
		margin: 0px 0px 5px 0px;
		background-color: $menuitembgcolor;

		@include box-shadow(inset $menuitemshadowcolor 1px 0 5px 1px);

		a {
			display: block;
			font-weight: bold;
			color: $menushadowcolor;
		}
	}
}
#app-container {
	padding: 20px 25px 10px 0px;
}
#app {
	position: relative;
	min-height: 600px;
	background-color: $appbgcolor;
	@include border-radius($appborderradius);
	@include box-shadow($appshadowcolor 0px 5px 20px);
	border: double 12px $appbordercolor;
}

.collection-title {
	letter-spacing: 0.2em;
	font-size: 1.2em;
}

.collectist-primary {
	letter-spacing: 0.2em;

	&.first:before {
		content: " :: ";
	}
}

.collectist-secondary {
	font-size: 0.6em;
	letter-spacing: 0em;
	text-transform: uppercase;

	&:before {
		content: " / ";
	}
	&:after {
		content: " / ";
	}
}

@media #{$screen} {
	.site-title { font-size: 0.8em; }
	header .logo { position: absolute; }
	#menu-container { position: static; float: none; width: 100%; padding-top: 20px; }
	#menu {
		position: static; float: none; width: 100%;
		li {
			text-align: center;
			margin-right: 10px;
			width: auto;
			display: inline-block;
			@include border-right-radius($menuborderradius);
			a { display: inline-block; }
		}
	}
	#app-container { float: none; margin: auto; padding-top: 0px; padding-left: 25px; }
	#app { float: none; }
}

@media #{$medium} {
	.site-title { font-size: 1em; }
	header .logo { position: fixed; }
	#menu-container { float: left; width: 16.66667%; padding-top: 70px; }
	#menu {
		position: fixed; width: 16.66667%;
		li {
			text-align: right;
			margin-right: 0px;
			width: 100%;
			display: block;
			@include border-right-radius(0);
			a { display: block; }
		}
	}
	#app-container { float: right; width: 83.33333%; padding-top: 20px; padding-left: 0px; }
}